.product-card {
    cursor: pointer;
    max-width: 360px;
    &__visor {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body {
        padding: .5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__price {
        font-weight: 700;
        font-size: .9rem;
        margin-bottom: .4rem;
        color:rgb(29, 29, 29)
    }
    &__title, &__date {
        font-size: .9rem;
        color: rgb(75, 75, 75);
        font-weight: 400;
        line-height: 1.3;
    }
    &__date {
        font-size: .7rem;
        margin-top: .5rem;
    }
    &__icon {
        background-color: crimson;
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: .9rem;
        margin-left: .5rem;
    }
}

// ! Un componente no puede afectar los estilos CSS de un componente hijo de forma directa
// ng-deep es una técnica deprecada en Angular, pero permite afectar los estilos CSS de un componente hijo de forma directa
// ? Se recomienda hacer uso de la hoja de estilos globales para este tipo de tareas, ya que la forma de declaración es más entendible

/*:host ::ng-deep .product-card__image img {
    width: 360px;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
    display: block;
}*/
