.products {
    padding: 2rem 1rem;
    &__container {
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        
        @media screen and (min-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
   /*&__info {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 20px;
        text-align: center;
        line-height: 20px;
        font-size: .7rem;
        background-color: crimson;
        color: #fff;
        border-radius: 50%;
        font-weight: 700;
        @media screen and (min-width: 1232px) {
            right: calc(50% - (1200px / 2));
        }
    }*/
    &__total {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 1rem;
        background-color: crimson;
        color: #fff;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 100% 0 0 0;
        span {
            text-align: center;
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: .5rem;
        }
    }
    &__sidebar {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        transition: all .2s;
        &.active {
            right: 0;
        }
        @media screen and (min-width: 480px) {
            width: 70%;
            max-width: 380px;
        }
    }
}
:host ::ng-deep app-product-card .product-card {
    margin: auto;
}