<app-navbar></app-navbar>
<div class="products">
    <div class="products__container">
        <!-- Escuchar el evento personalizado para agregar el producto que viaja en el evento al carrito de la compra -->
        <app-product-card *ngFor="let product of products" [product]="product" 
            (addToShoppingCart)="addToShoppingCart($event)"
            (getProductDetail)="getProduct($event)"></app-product-card>
        <!-- <div class="products__info">{{ count }}</div> -->
        <div class="products__total"><span>Total a pagar</span>{{ total | currency }}</div>
    </div>
    <button class="btn-load" #btnLoad (click)="loadMoreProducts()">Cargar más productos</button>
    <div class="sidebar" *ngIf="product" [class.active]="showSidebarProductDetail">
        <fa-icon class="sidebar__close" [icon]="faTimesCircle" (click)="toggleSidebarProductDetail()"></fa-icon>
        <swiper [config]="config">
            <ng-template swiperSlide *ngFor="let img of product.images">
                <img [src]="img" class="sidebar__image" [alt]="product.title">
            </ng-template>
        </swiper>
        <div class="sidebar__body">
            <p class="sidebar__price">{{ product.price | currency }}</p>
            <h3 class="sidebar__title">{{ product.title }}</h3>
            <p class="sidebar__description">{{ product.description}}</p>
            <button class="sidebar__button" (click)="addToShoppingCart(product)">
                <fa-icon [icon]="faShoppingCart" class="product-card__icon"></fa-icon>
                Agregar al carrito
            </button>
        </div>
    </div>
</div>
