<h3>Editar Producto</h3>
<form [formGroup]="formProduct" (ngSubmit)="updateProduct()">
    <div class="form-group">
        <label for="">Titulo</label>
        <input type="text" formControlName="title" placeholder="Titulo del producto">
    </div>
    <div class="form-group">
        <label for="">Precio</label>
        <input type="number" formControlName="price" placeholder="Precio del producto">
    </div>
    <div class="form-group">
        <label for="">Descripcion</label>
        <textarea formControlName="description" placeholder="Descripción corta del producto" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="">Imagenes</label>
        <textarea formControlName="images" placeholder="URLs separadas por comas" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="">Categoría</label>
        <select formControlName="categoryId">
            <option value="" selected disabled>Seleccione una categoría</option>
            <option [value]="category.id" *ngFor="let category of categories">{{ category.name }}</option>
        </select>
    </div>
    <button type="submit" [disabled]="formProduct.invalid">Actualizar</button>
</form>
