<header class="navbar">
    <div class="navbar__container">
        <div class="navbar__mobile">
            <div class="navbar__shopping-cart" (click)="toggleSidebar()">
                <fa-icon [icon]="faBars"></fa-icon>
            </div>
            <!-- Colocar dinámicamente la clase active si el valor de propiedad asociada es true -->
            <div class="sidemenu" [class.active]="activeSidebar">
                <div class="navbar__shopping-cart" (click)="toggleSidebar()">
                    <fa-icon [icon]="faTimesCircle"></fa-icon>
                </div>
                <ul class="sidemenu__menu">
                  <li>
                    <a [routerLink]="['/site']"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}"
                       (click)="toggleSidebar()">Home</a></li>
                  <li *ngFor="let item of categories">
                    <a [routerLink]="['category', item.id]"
                       routerLinkActive="active"
                       (click)="toggleSidebar()">{{ item.name }}</a>
                  </li>
                </ul>
            </div>
        </div>
        <nav class="navbar__left">
            <img src="assets/images/logotipo.svg" alt="Logotipo" class="navbar__brand">
            <ul class="navbar__menu">
                <li><a [routerLink]="['/site']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li *ngFor="let item of categories">
                  <a [routerLink]="['category', item.id]" routerLinkActive="active">{{ item.name }}</a>
                </li>
            </ul>
        </nav>
        <div class="navbar__right">
            <ng-container *ngIf="profile">
                <label for="upload_file">
                    <img [src]="img_tmp_avatar" alt="Avatar" class="navbar__avatar">
                    <input type="file" id="upload_file" (change)="uploadFile($event)">
                </label>
                <a class="navbar__email" routerLink="/site/profile">{{ profile.email }}</a>
            </ng-container>
            <a *ngIf="!profile" class="navbar__button" [routerLink]="['/site/login']">Login</a>
            <div class="navbar__shopping-cart">
                <div class="navbar__shopping-count">{{ countProducts }}</div>
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </div>
        </div>
    </div>
</header>
