<header class="navbar">
    <div class="navbar__container">
        <div class="navbar__mobile">
            <div class="navbar__shopping-cart">
                <fa-icon [icon]="faBars"></fa-icon>
            </div>
        </div>
        <nav class="navbar__left">
            <img src="assets/images/logotipo.svg" alt="Logotipo" class="navbar__brand">
            <ul class="navbar__menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Frutas</a></li>
                <li><a href="#">Verduras</a></li>
                <li><a href="#">Lácteos</a></li>
            </ul>
        </nav>
        <div class="navbar__right">
            <p class="navbar__email">alejandro@correo.com</p>
            <div class="navbar__shopping-cart">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </div>
        </div>
    </div>
</header>
