<img src="assets/images/logotipo.svg" alt="Logotipo">
<h3>Registro de usuarios</h3>
<form [formGroup]="formRegister" (ngSubmit)="createUser()">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name" placeholder="Ingrese su nombre completo">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Correo electrónico">
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="Contraseña">
    </div>
    <button type="submit" [disabled]="formRegister.invalid">Registrar</button>
</form>
