.loader {
  position: fixed;
  left: -100px;
  top: 0;
  background: crimson;
  color: #fff;
  padding: 0.4rem 0.6rem;
  font-size: .8rem;
  transition: all .2s;
  &.active {
      left: 0;
  }
}
.total {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: crimson;
  color: #fff;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 100% 0 0 0;
  span {
      text-align: center;
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: .5rem;
  }
}
