/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


// Estilos especiales para la imagen de una tarjeta referente a un producto
.product-card {
    &__image img {
        width: 360px;
        height: 250px !important;
        object-fit: cover;
        border-radius: 1rem;
        display: block;
    }
}