/* You can add global styles to this file, and also import other style files */

// Fuentes de tipografía externas
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
// Resets
@import url('./reset.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}
body {
    font-size: 16px;
}


// Estilos especiales para la imagen de una tarjeta referente a un producto
.product-card {
    &__image img {
        width: 360px;
        height: 250px !important;
        object-fit: cover;
        border-radius: 1rem;
        display: block;
    }
}